/* navbar.css */
#mobile-menu.open {
  transform: translateX(0);
}

#overlay.show {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
